desktop.ini
*.log
*.zip
*.rar
*.7z
*.psd
*.gz
*.csv
*.txt
.DS_Store
._*
/*
!.gitignore
!/public_html
/public_html/*
!/public_html/templates
/public_html/templates/**/node_modules/
!/public_html/classes
/public_html/classes/*
!/public_html/classes/components
/public_html/classes/components/**/*.php
!/public_html/classes/components/**/*custom*.php
!/public_html/classes/components/**/lang.*.php
!/public_html/classes/components/**/ext
/public_html/classes/components/**/ext/*
!/public_html/classes/components/**/ext/*.php
!/public_html/classes/system
/public_html/classes/system/*
!/public_html/classes/system/subsystems
/public_html/classes/system/subsystems/*
!/public_html/classes/system/subsystems/import
/public_html/classes/system/subsystems/import/*
!/public_html/classes/system/subsystems/import/splitters
!/public_html/classes/system/subsystems/export
/public_html/classes/system/subsystems/export/*
!/public_html/classes/system/subsystems/export/exporters
!/public_html/xsl
/public_html/xsl/*
!/public_html/xsl/*port
/public_html/xsl/*port/*
!/public_html/xsl/*port/custom*
