RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^autothumbs/(.*) ../autothumbs.php?img=$1%{QUERY_STRING}

<IfModule mod_php5.c>
	php_flag engine off
</IfModule>

<IfModule !mod_php5.c>
	<FilesMatch "\.[pP][hH]([pP]|[pP][3-5]|[tT][mM])">
		Order Deny,Allow
		Deny from all
	</FilesMatch>
</IfModule>
